@page "/change-password"

@using System.Text.Json
@using Bislerium.DTOs
@using Bislerium.Services
@inject APIService APIService

<PageTitle>Change your Password?</PageTitle>

<div class="authentication-bg pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">
                    <!-- Logo -->
                    <div class="card-header py-4 text-center bg-warning">
                            <a class="text-white" href="" style="font-size: 21px;font-weight: bold;">
                                <span style="font-size: 30px;">C</span>HANGE
                                <span style="font-size: 30px;">P</span>ASSWORD
                            </a>
                    </div>
                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <p class="text-muted mb-4">Provide the data below to change your password.</p>
                        </div>
                        <form @onsubmit="@HandleValidSubmit">
                            <div class="mb-3">
                                <label for="old-password" class="form-label">Old Password</label>
                                <input class="form-control" type="password" id="old-password" required="" @bind="_changePassword.CurrentPassword" placeholder="Enter your old password">
                            </div>
                            <div class="mb-3">
                                <label for="new-password" class="form-label">New Password</label>
                                <input class="form-control" type="password" id="new-password" required="" @bind="_changePassword.NewPassword" placeholder="Enter your new password">
                            </div>
                            <div class="mb-3">
                                <label for="confirm-password" class="form-label">Confirm New Password</label>
                                <input class="form-control" type="password" id="confirm-password" required="" @bind="_changePassword.ConfirmPassword" placeholder="Confirm your new password">
                            </div>

                            <div class="mb-0 text-center">
                                <button class="btn btn-warning" type="submit">Change Password</button>
                            </div>
                        </form>

                        @if (!string.IsNullOrEmpty(Message))
                        {
                            <MessageLayout Type="@Type" Message="@Message" />
                        }
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</div>