
.authentication-bg {
    height: 100vh; /* Make the container take up the full height of the viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.change-password {
    background-color: white;
    border-radius: 12px;
    padding: 32px;
    margin: auto; /* Center the form horizontally */
    margin-top: 100px; /* Adjust top margin to center vertically */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

    .change-password .notes {
        gap: 16px;
        margin-bottom: 48px;
    }

    .change-password .form-label {
        margin-bottom: 0;
        text-transform: capitalize;
    }

    .change-password .btn-wrapper {
        text-align: center;
    }

        .change-password .btn-wrapper button {
            padding: 12px 24px;
            font-size: 16px;
            font-weight: 500;
        }

.input-group .form-control {
    border-radius: 0.25rem 0 0 0.25rem !important;
    padding: 16px;
}

.input-group .input-group-text {
    border-radius: 0 0.25rem 0.25rem 0 !important;
    padding: 16px;
}

.card-header a {
    text-decoration: none; 
    color: inherit; 
}